<!DOCTYPE html>
<html lang="pt-br">
<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Cristina Santos Imóveis</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Cristina Santos Imóveis. Corretora imobiliária em Arraial d'Ajuda, Porto Seguro e Trancoso. Casas e Apartamentos para alugar e vender.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="geo.region" content="BR-BA" /> 
  <meta name="geo.placename" content="Porto Seguro" /> 
  <meta name="geo.position" content="-16.491152;-39.073305" /> 
  <meta name="ICBM" content="-16.491152, -39.073305" />

  <!-- Favicon
================================================== -->
<link rel="shortcut icon" type="image/x-icon"  href="{{url_for('static', filename='images/favicon.ico')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">

  {% include 'layouts/fbs.html'%}

  <!-- Bootstrap
================================================== -->  
</head>
<body>
  <div class="body-inner">

<header id="header" class="header-one">
  
  {% include 'layouts/header.html' %}

</header>

<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url(static/images/about/cristina-santos-imoveis-sobre.jpeg);" aria-hidden="true">
    <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
              </div>
          </div>
        </div>
    </div>
  </div>
  </div>
<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <h3 class="column-title">Quem é Cristina Santos</h3>
          <p>Sou cristã,  paulista. Nasci no interior do estado de São Paulo, na cidade de Registro. Morei na capital por 27 anos, onde pude conhecer uma cidade cheia de possibilidades e oportunidades. No ano de 2014, eu e meu marido Valdir, conhecido pelo carinhoso apelido de ' Dida', saímos de férias para Arraial d’Ajuda, distrito charmoso de Porto Seguro. O roteiro foi escolhido por uma amiga querida. Logo que chegamos nos encantamos pelo lugar. Nos apaixonamos pelas pessoas e por seus costumes e, rapidamente, tomamos a decisão que mudaria toda a nossa vida.</p>
          <blockquote><p>resolvemos, juntos, nos mudar, de mala e cuia, para Arraial, o vilarejo que se tornou perfeito para começarmos a viver uma nova e bonita história.</p></blockquote> 
          <p>No primeiro ano morando em Arraial, eu e Dida arrendamos uma pousada, e colocamos nela nossos nomes: Pousada Dida & Cris. A pousada era pequena, simples, porém muito bem localizada, na pracinha da igreja. O diferencial naquele momento era oferecer um atendimento de excelência. Conseguimos! Foi uma experiência deliciosa, fizemos várias amizades, conhecemos pessoas incriveis de diversos países, realizamos o sonho de ter uma pousada. O ciclo se fechou quando perdemos a qualidade de vida tão almejada. Percebemos que trabalhávamos dia após dia, sem descanso, e quase não tínhamos tempo para curtir o lugar. Foi quando, em 2019, com a benção de Deus e direcionada por Ele, resolvi investir na carreira de Corretora de Imóveis. Não imaginava o que realmente me esperava, mas como minha vida sempre foi cheia de mudanças, aceitei encarar mais um desafio e hoje me tornei Consultora Imobiliária.</p>
          <blockquote><p>Posso garantir que estou trilhando uma trajetória de sucesso.</p></blockquote>
          <p>Em dois anos de atuação na área, já contabilizo muitos negócios bem-sucedidos e a cada dia sigo superando todas as minhas expectativas. Hoje me vejo como uma  profissional focada, que trabalha incansavelmente  para otimizar e facilitar os processos que envolvem tanto a locação quanto a compra e a venda de imóveis,  servindo de ponte para possibilitar que todas as partes fiquem satisfeitas. Tenho orgulho de ter me tornado uma profissional qualificada em venda, compra e locação de imóveis, porém continuo em uma busca incessante de aprimorar  meus conhecimentos, estou aberta para aprender, desaprender, reaprender a todo momento, com um único intuito de dar aos  meus clientes um atendimento de excelência que tanto merecem. Precisa vender ou comprar algum imóvel??? Conte comigo!!! Juntos vamos conseguir alcançar nossos objetivos!! Já deu tudo certo!!!</p>
        </div>
    </div>
  </div>
</section>

  {% include 'layouts/fjs.html' %}
  
  <!-- Javascript Files
  ================================================== -->


  {% include 'layouts/footer.html' %}

   <!-- Footer
  ================================================== -->

  </body>

  </html>