<!DOCTYPE html>
<html lang="pt-br">
<head>

  <!-- Basic Page Needs
================================================== -->
  <meta charset="utf-8">
  <title>Cristina Santos Imóveis</title>

  <!-- Mobile Specific Metas
================================================== -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Cristina Santos Imóveis. Corretora imobiliária em Arraial d'Ajuda, Porto Seguro e Trancoso. Casas e Apartamentos para alugar e vender.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="geo.region" content="BR-BA" /> 
  <meta name="geo.placename" content="Porto Seguro" /> 
  <meta name="geo.position" content="-16.491152;-39.073305" /> 
  <meta name="ICBM" content="-16.491152, -39.073305" />

  <!-- Favicon
================================================== -->
<link rel="shortcut icon" type="image/x-icon"  href="{{url_for('static', filename='images/favicon.ico')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">

{% include 'layouts/fbs.html' %}

  <!-- Bootstrap
================================================== -->

</head>
<body>
  <div class="body-inner">

<header id="header" class="header-one">

    {% include 'layouts/header.html' %}

</header>

<div id="banner-area" class="banner-area" style="background-image:url(../static/images/imoveis/suites-arraial-dajuda-7.jpeg)">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">Alugar</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a href="{{url_for('index')}}" title="Cristina Santos Imóveis - Página inicial">Home</a></li>
                      <li class="breadcrumb-item"><a href="{{url_for('alugar')}}" title="Cristina Santos Imóveis - Alugar Imóveis">Alugar</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Suítes</li>
                    </ol>
                </nav>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="page-slider" class="page-slider small-bg">
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-1.jpg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-2.jpg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-3.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-4.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-5.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-6.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-7.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-8.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-9.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-10.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-11.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-12.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-13.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-14.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-15.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-16.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-17.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-18.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-19.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-20.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-21.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-22.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-23.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-24.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-25.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-26.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
          <div class="item">
            <img loading="lazy" class="img-fluid" src="{{url_for('static', filename='images/imoveis/suites-arraial-dajuda-27.jpeg')}}" alt="Cristina Santos Imóveis - Casa Arraial d'Ajuda, Suítes para alugar" />
          </div>
         
        </div>
      </div>

      <div class="col-lg-4 mt-5 mt-lg-0">

        <h3 class="column-title mrt-0">Suítes</h3>
        <p>Ter o privilégio de estar hospedado em uma mega casa, em um dos lugares mais lindo do Brasil. Bairro residencial e bem tranquilo.</p>

        <ul class="project-info list-unstyled">
          <li>
            <p class="project-info-label"><i class="fas fa-money-bill"></i>   Valor</p>
            <p class="project-info-content">- Os valores podem variar de acordo com o período escolhido, aquantidade de dias e quantidade de pessoas</p>
            <p class="project-info-content">- Solicite seu orçamento e venha relaxar a mente e o corpo nessa linda casa</p>
          </li>
          <li>
            <p class="project-info-label"><i class="fas fa-home"></i>   Tipo de imóvel</p>
            <p class="project-info-content">Residencial</p>
          </li>
          <!-- <li>
            <p class="project-info-label"><i class="fas fa-th"></i>   Área utíl</p>
            <p class="project-info-content">50m&sup2;</p>
          </li> -->
          <li>
            <p class="project-info-label"><i class="fas fa-bed"></i>   Quantidade de quartos</p>
            <p class="project-info-content">05 quartos</p>
          </li>
          <!-- <li>
            <p class="project-info-label"><i class="fas fa-shower"></i>   Quantidade de banheiros</p>
            <p class="project-info-content">01 banheiro</p>
          </li> -->
          <!-- <li>
            <p class="project-info-label"><i class="fas fa-car"></i>   Estacionamento</p>
            <p class="project-info-content">03 vagas</p>
          </li> -->
          <li>
            <p class="project-info-label"><i class="fas fa-map-marker-alt"></i>   Localização</p>
            <p class="project-info-content">Arraial d'Ajuda - BA</p>
          </li>
          <li>
            <p class="project-info-label"><i class="fas fa-list-ul"></i>   Descrição</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> 05 suítes</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> Sala de estar</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> Sala de jantar</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> Cozinha</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> Área gourmet e uma piscina maravilhosa</p>
          </li>
          <li>
            <p class="project-info-label"><i class="fas fa-question-circle"></i>   Como funciona</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> A proprietária aluga as suítes separadamente</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> Suítes para 1 ou 2 pessoas</p>
            <p class="project-info-content"><i class="fa fa-caret-right"></i> Direito a um delicioso café da manhã</p>
          </li>
          <li>
            <p class="project-link">
              <a class="btn btn-primary" href="{{url_for('alugar')}}" title="Cristina Santos Imóveis - Alugar Imóveis">Voltar</a>
            </p>
          </li>
        </ul>

      </div>

    </div>

  </div>
</section>

  {% include 'layouts/fjs.html' %}

<!-- Javascript Files
  ================================================== -->

  {% include 'layouts/footer.html' %}

  <!-- Footer
  ================================================== -->

  </body>

  </html>