<!-- Preload -->
<link rel="preload" href="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{url_for('static', filename='plugins/fontawesome/css/all.min.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{url_for('static', filename='plugins/fontawesome/webfonts/fa-brands-400.woff2')}}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{url_for('static', filename='plugins/fontawesome/webfonts/fa-solid-900.woff2')}}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{url_for('static', filename='plugins/animate-css/animate.min.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{url_for('static', filename='plugins/slick/slick.min.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{url_for('static', filename='plugins/slick/slick-theme.min.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'" >
<link rel="preload" href="{{url_for('static', filename='plugins/colorbox/colorbox.min.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'" >
<link rel="preload" href="{{url_for('static', filename='css/style.min.css')}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
   
<link rel="preload" href="{{url_for('static', filename='plugins/jQuery/jquery.min.js')}}" as="script" >
<link rel="preload" href="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.js')}}" as="script" >
<link rel="preload" href="{{url_for('static', filename='plugins/slick/slick.min.js')}}" as="script" >
<link rel="preload" href="{{url_for('static', filename='plugins/slick/slick-animation.min.js')}}" as="script" >
<link rel="preload" href="{{url_for('static', filename='plugins/colorbox/jquery.colorbox.min.js')}}" as="script" >
<link rel="preload" href="{{url_for('static', filename='plugins/shuffle/shuffle.min.js')}}" as="script" >
<link rel="preload" href="{{url_for('static', filename='js/script.min.js')}}" as="script" >
  
<link rel="stylesheet" href="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='plugins/fontawesome/css/all.min.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='plugins/animate-css/animate.min.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='plugins/slick/slick.min.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='plugins/slick/slick-theme.min.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='plugins/colorbox/colorbox.min.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.min.css')}}" media="screen">
