 <!-- initialize jQuery Library -->
 <script src="{{url_for('static', filename='plugins/jQuery/jquery.min.js')}}"></script>
 <!-- Bootstrap jQuery -->
 <script src="{{url_for('static', filename='plugins/bootstrap/bootstrap.min.js')}}" defer async></script>
 <!-- Slick Carousel -->
 <script src="{{url_for('static', filename='plugins/slick/slick.min.js')}}" async></script>
 <script src="{{url_for('static', filename='plugins/slick/slick-animation.min.js')}}" async></script>
 <!-- Color box -->
 <script src="{{url_for('static', filename='plugins/colorbox/jquery.colorbox.min.js')}}" async></script>
 <!-- shuffle -->
 <script src="{{url_for('static', filename='plugins/shuffle/shuffle.min.js')}}" defer async></script>
 <!-- Template custom -->
 <script src="{{url_for('static', filename='js/script.min.js')}}" async></script>
